<div class="home_container flex-center">
  <div class="right">
    <div class="image_conatiner flex-center">
      <img src="/assets/photos/photo.jpg" alt="">
    </div>
  </div>
  <div class="left flex-column">
    <div class="text_container flex-column">
      <p class="fs-16 fw-600">Hello, I'm</p>
      <h1>Vedant Bhanuwanshe</h1>
      <p class="fs-28 fw-600">Frontend Developer</p>
    </div>
    <div class="button_container flex-center mt-20">
      <button class="btn btn1">
        Download CV
      </button>
      <button>
        Contact Me
      </button>
    </div>
    <div class="button_container  mt-20">
      <img class="cursor-pointer" src="/assets/photos/linkedin.png" alt="">
      <img class="ml-10 cursor-pointer" src="/assets/photos/github.png" alt="">
    </div>
  </div>

</div>